
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Gestion Stock</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Produits<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a data-toggle="tab" href="#tousLesProduits">Afficher
							Produits</a></li>
					<li><a data-toggle="tab" href="#ajouterProduit">Ajouter
							Produit</a></li>
					<li><a data-toggle="tab" href="#trouverProduit">Trouver
							Produit</a></li>
				</ul></li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Clients<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a data-toggle="tab" href="#ajouterClient">Ajouter
							Client</a></li>
					<li><a data-toggle="tab" href="#trouverClient">Trouver
							Client</a></li>
				</ul></li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Fournisseurs<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a data-toggle="tab" href="#ajouterFournisseur">Ajouter
							Fournisseur</a></li>
					<li><a data-toggle="tab" href="#trouverFournisseur">Trouver
							Fournisseur</a></li>
				</ul></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
					Login</a></li>
		</ul>
	</div>
</nav>


