<div id="indexTabs" class="tab-content" ng-controller="MainController"
	data-ng-init="init()">
	<!-- Espace Produit -->

	<div id="" class="tab-pane fade in active">
		<h2 align="center">
			<strong>Gestion de stock</strong>
		</h2>
		<hr>
		<div ng-include="'templates/home.html'"></div>
	</div>

	<div id="tousLesProduits" class="tab-pane fade">
		<h2 align="center">
			<strong>Tous les Produits </strong>
		</h2>
		<hr>

		<div ng-include="'templates/produit/tousLesProduits.html'"></div>
	</div>
	<div id="ajouterProduit" ng-controller="ProduitController"
		class="tab-pane fade">
		<h2 align="center">
			<strong>Ajouter nouveaux Produits</strong>
		</h2>
		<hr>

		<div ng-include="'templates/produit/ajouterProduitForm.html'"></div>
	</div>
	<div id="trouverProduit" class="tab-pane fade" >
		<h2 align="center">
			<strong>Trouver Produit </strong>
		</h2>
		<hr>

		<div ng-include="'templates/produit/trouverProduit.html'"></div>

	</div>

	<!-- Espace Clients -->
	<div id="TousLesClients" class="tab-pane fade">
		<h2 align="center">
			<strong>Tous les clients</strong>
		</h2>
		<hr>
		<div ng-include="'tousLesClients.html'"></div>
	</div>
	<div id="ajouterClient" ng-controller="ClientController"
		class="tab-pane fade">
		<h2 align="center">
			<strong>Ajouter un nouveau Client</strong>
		</h2>
		<hr>
		<div ng-include="'ajouterClientForm.html'"></div>
	</div>
	<div id="trouverClient" class="tab-pane fade">
		<h2 align="center">
			<strong>Trouver Client</strong>
		</h2>
		<hr>
		<div ng-include="'trouverClient.html'"></div>
	</div>
	<!-- Espace Fournisseurs -->
	<div id="ajouterFournisseur" ng-controller="FournisseurController"
		class="tab-pane fade">
		<h2 align="center">
			<strong>Ajouter un nouveau Fournisseur</strong>
		</h2>
		<hr>
		<div ng-include="'ajouterFournisseurForm.html'"></div>
	</div>

	<div id="trouverFournisseur" class="tab-pane fade">
		<h2 align="center">
			<strong>Trouver Fournisseur</strong>
		</h2>
		<hr>
		<div ng-include="'trouverFournisseur.html'"></div>
	</div>

	<!-- Espace Technciens -->
	<div id="allTechniciens" class="tab-pane fade" ng-controller="TechnicienController">
		<h2 align="center">
			<strong>Tous les Techniciens</strong>
		</h2>
		<hr>
		<div ng-include="'templates/technicien/allTechniciens.html'"></div>
	</div>
	<div id="addTechniciens" 
		class="tab-pane fade" ng-controller="addTechnicienController">
		<h2 align="center">
			<strong>Ajouter des Techniciens</strong>
		</h2>
		<hr>
		<div ng-include="'templates/technicien/addTechniciens.html'"></div>
	</div>
	<div id="findTechniciens" class="tab-pane fade" ng-controller="TechnicienController">
		<h2 align="center">
			<strong>Trouver Techniciens</strong>
		</h2>
		<hr>
		<div ng-include="'templates/technicien/findTechniciens.html'"></div>
	</div>

</div>